<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luohe.android.luohe">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读sd卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainTabActivity"
            android:theme="@style/NotTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.testActivity"
            android:theme="@style/TranslucentTheme" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey" />
        <meta-data
            android:name="APP_KEY"
            android:value="@string/app_key" />

        <activity
            android:name=".luohe.CommonSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luohe.WriteThemeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".recommond.PreviewArticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyThemeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.NickNameSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.AvatarSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".find.FindReactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luohe.UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RecommendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".find.FindRankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".find.FindWishPoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".find.SystemMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".find.SendWishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mine.MyLuoheListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyWenFengListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luohe.LuoheDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.WriteLuoheActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mine.LuoheTimeAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommond.CommentListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".recommond.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommond.ReportClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luohe.LuoheListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="db-b358c66151ec" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent1104866367" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".user.RegistSettingActivity"
            android:label="@string/title_activity_regist_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mine.PersonStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommond.WriteWenfengActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <activity
            android:name=".mine.SecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.RegistSetTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UserInfoSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.CashAffirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.CashRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luohe.HowToPlayActivity"
            android:theme="@style/customDialog"
            />
        <activity
            android:name=".recommond.PreviewWenfengActivity"
            android:screenOrientation="portrait" />
        <!--Ta的城落-->
        <activity android:name=".mine.AttentionListActivity" />
        <activity android:name=".mine.TACityFallActivity" />
        <activity android:name=".mine.his.HisLuoheListActivity"/>
        <activity android:name=".mine.his.HisThemeListActivity"/>
        <activity android:name=".mine.his.HisWenFengListActivity"/>
        <activity android:name=".mine.MyShareListActivity"/>
        <activity android:name=".mine.MyCollectListActivity"/>

    </application>

</manifest>